---
import Layout from '../layouts/Layout.astro';

const response = await fetch('https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m&hourly=temperature_2m&temperature_unit=fahrenheit');
const data = await response.json();
const { current, hourly } = data;
const hourlyTime = [];
const hourlyTemperature = [];
for (let i = 0; i < 5; i++) {
	hourlyTemperature.push(hourly.temperature_2m[i]);
	hourlyTime.push(hourly.time[i]);
} 
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Current <span class="text-gradient">Weather</span></h1>
		<p>Time: {new Date(current.time).toLocaleString()}</p>
		<p>temperature: {current.temperature_2m} F</p>
		<div class="group">
			{hourlyTemperature.map((temp, index) => (
				<div>
					<p>{new Date(hourlyTime[index]).toLocaleString()}</p>
					<p>{temp} F</p>
				</div>
			))
			}
		</div>
	</main>
</Layout>

<style>
	.group{
		display: flex;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
	}
</style>
